<div id="_header">
  <div class="title">
  <h3>ML Like Service Menu</h3>
  </div>
</div>

<div id="_body">
  <ul>
    <li><a href="mladd">Add ML</a></li>
    <br />
    <li><a href="mllist">Show ML List</a></li>
  </ul>
</div>
